/* Borrowed Styles.css from previous project */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: rgb(50, 50, 255);
}

td {
    display: inline-block;
}

table {
    width: 80%;
    margin: 0 auto;
}

thead {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.dropdown {
    background-color: rgb(0, 0, 255);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: center;
    outline: none;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.dropdown:hover {
    background-color: rgb(100, 0, 255);
    color: black;
}

.content {
    padding: 0 18px;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; 
    background-color: rgb(0, 0, 0);
}

.holding-box {
    background-color: rgb(0, 0, 255);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: center;
    outline: none;
    align-self: center;
}

footer {
    color: blue;
    position: fixed;
    bottom: 0;
    width: 100%;   
}

.infotable {
    border: 2px solid white;
}

.sourcelink {
    font-style: italic;
    border: 2px solid white;
    border-collapse: collapse;
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}